<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!--
      add/create:跳转到添加页
      save: 执行添加操作
      edit:修改模态窗口
      update:执行修改操作
      get:执行查询操作
      特殊操作
      -->


  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.Yukang.crm.utils.filter.EncodingFilter</filter-class>
  </filter><filter-mapping>
  <filter-name>EncodingFilter</filter-name>
   <url-pattern>*.do</url-pattern>
</filter-mapping>
  <filter>
    <filter-name>IllegalVisitFilter</filter-name>
    <filter-class>com.Yukang.crm.utils.filter.IllegalVisitFilter</filter-class>
  </filter><filter-mapping>
  <filter-name>IllegalVisitFilter</filter-name>
  <url-pattern>*.do</url-pattern>
  <url-pattern>*.jsp</url-pattern>

</filter-mapping>

<!--UserController-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.Yukang.crm.settings.webController.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>
<!--  ActivityController-->
  <servlet>
        <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.Yukang.crm.workbench.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <url-pattern>/workbench/activity/save.do</url-pattern>
    <url-pattern>/workbench/activity/pageList.do</url-pattern>
    <url-pattern>/workbench/activity/delete.do</url-pattern>
    <url-pattern>/workbench/activity/getUserListAndAActivity.do</url-pattern>
    <url-pattern>/workbench/activity/update.do</url-pattern>
    <url-pattern>/workbench/activity/detail.do</url-pattern>
    <url-pattern>/workbench/activity/getRemarkListById.do</url-pattern>
    <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
    <url-pattern>/workbench/activity/addRemark.do</url-pattern>
    <url-pattern>/workbench/activity/editRemark.do</url-pattern>

  </servlet-mapping>


</web-app>
